h1 {
    font-family: 'Antic Slab', serif;
    font-size: 2.5rem;
    border-bottom: 1px solid black;
}

h2 {
    font-size: 1.25rem;
    font-family: 'Crimson Text', serif;
    font-weight: 100;
    margin: 0;
    border-bottom: 1px solid black;
}

h3 {
    display: inline;
    font-size: 1rem;
    margin: 0;
}

.wrapper, html, body {
    height: 100%;
    margin: 0 auto;
    font-family: 'Crimson Text', serif;
    color: black;
    text-decoration: none;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1rem;
}

.grid_item.avatar{
    grid-column: 3/5;
    grid-row: 2;
}

.avatar_images {
    position: relative;
    height: 200px;
}

.profile_image{
    position: absolute;
    height: 100%;
    left: calc(50% - 100px);
    border-radius: 50%;
}

.type_bubble {
    position: absolute;
    top: -15px;
    left: calc(50% - 155px);
    width: 100px;
    height: 95px;
    background-image: url('../assets/bubble.png');
    background-size: 100% 100%;
    text-align: center;
    line-height: 80px;
    font-size: 30px;
}

.grid_item.blurb{
    grid-column: 3/5;
    grid-row: 3;
}

.grid_item.links{
    grid-column: 5/8;
    grid-row: 2/4;
    /* contains subgrid */
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    border-left: 1px solid black;
}

.links_container {
    grid-row: 1;
}

.link {
    padding: 0.5em;
}

.highlight {
    border-bottom: 1px solid black;
}

.link_content, .project_content {
    display: none;
    padding: 1em;
}

.active {
    display: block;
}

.projects {
    /* contains sub-subgrid */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 25px 1fr 1fr;
}

.project {
    grid-row: 1;
    padding-left: 1rem;
    padding-right: 1rem;
    white-space: nowrap;
    align-content: center;
}

.project_content {
    grid-row: 2/4;
    grid-column: 1/4;
    text-align: left;
    text-align: center;
}

.project_image {
   grid-row: 2;
   grid-column: 1/4;
   max-width: 300px;
   width: 100%;
}

.project_description {
    text-align: left;
}

@media only screen and (max-width: 900px) {
    body {
        text-align: center;
    }

    .grid_item.avatar{
        grid-column: 1/9;
        grid-row: 2;
    }
    
    .grid_item.blurb{
        grid-column: 1/9;
        grid-row: 3;
        padding: 1em;
    }
    
    .grid_item.links{
        grid-column: 1/9;
        grid-row: 4;
        border: none;
    }
    
    .links_container {
        grid-row: 1;
    }

    .project {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
  }